button
  display: inline-block
  border: 2px solid black
  padding: 1rem 2rem
  margin: 0
  text-decoration: none
  background-color: black
  color: white
  font-size: 1rem
  line-height: 1
  cursor: pointer
  text-align: center
  transition: background-color 175ms
  &:not([disabled]):hover
    background-color: white
    color: black
  &[disabled]
    background-color: red
    border: none
    transform: translate(-230px,-80px) scale(1.5) rotate(-15deg)
    cursor: not-allowed
