.meme-container
  position: relative
  z-index: 1
  max-width: 500px
  
  img
    display: block
    width: 100%
    max-width: 500px

  h2
    position: absolute
    z-index: 3
    left: 50%
    width: 100%
    color: white
    font-weight: 700
    text-align: center
    text-transform: uppercase
    text-shadow: 0 1px 5px black
    transform: translateX(-50%)

    &.top
      top: 0
    
    &.bottom
      bottom: 0

.dropzone
  position: relative
  display: inline-block
  min-width: 261px
  padding: 30px
  border: 1px dotted black
  border-radius: 5px
  text-align: center

  &.dropzone-dragging
    background-color: grey
  
  .info
    font-size: 24px
    font-weight: 700
  
  .input
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
