
.store
  border-right: 3px solid black

  &-name
    text-align: center
    margin-bottom: 40px

    > h1
      margin-bottom: 5px
      text-transform: capitalize
  
  &-list
    margin: 15px 0
  
  &-item
    margin-bottom: 10px
    
    &:not(:last-child)
      padding-bottom: 10px;
      border-bottom: 1px solid black;
    
    &.disabled &_img,
    &.disabled &_info
      opacity: .3
      pointer-events: none
    
    &_img
      flex: 1 1 30%
    
    &_info
      flex: 1 1 70%
      padding-left: 20px
    
    &_box
      display: flex
      flex-wrap: wrap
    
      .btn-wrapper
        flex-basis: 100%
        display: flex
        justify-content: flex-end
        margin-top: 10px

.item-edit
  margin-bottom 20px
  border 2px solid black
  overflow hidden
  display flex
  flex-wrap wrap
  input, textarea, select
    width 33.33%
    padding 10px
    line-height 1
    font-size 1.2rem
    border 0
    border-bottom 1px solid black
    border-right 1px solid black
    appearance none
    border-radius 0
    background white
    &:focus
      outline 0
      background lighten(orange, 85%)
  textarea
    width: 100%
    resize: vertical
  input:last-of-type
    width 100%
  button
    width 100%
    border 0

.title.sub
  font-size: 30px
  .inventory &
    text-align: left
    text-decoration: underline
    margin-bottom: 20px
