@import './_normalize.styl'
@import './_colors.styl'
@import './_btn.styl'
@import './_img.styl'
@import './_title.styl'
@import './_box.styl'
@import './_basket.styl'
@import './_store.styl'

ul
  list-style: none outside none
  padding: 0
  margin: 0

.not-found h1
  text-align: center
