article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: 2 1C 2 1D 2 18 2 19;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
button {
  display: inline-block;
  border: 2px solid #000;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  -webkit-transition: background-color 175ms;
  transition: background-color 175ms;
}
button:not([disabled]):hover {
  background-color: #fff;
  color: #000;
}
button[disabled] {
  background-color: #f00;
  border: none;
  -webkit-transform: translate(-230px, -80px) scale(1.5) rotate(-15deg);
          transform: translate(-230px, -80px) scale(1.5) rotate(-15deg);
  cursor: not-allowed;
}
img {
  display: block;
  width: 100%;
}
.title {
  margin-bottom: 0;
}
.title.main {
  font-size: 40px;
  text-align: center;
}
.title.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.box-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
}
.box > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.33%;
          flex: 1 1 33.33%;
  border-bottom: 1px solid #000;
}
.box > div.basket,
.box > div.store {
  padding: 0 15px;
}
.box > div.store {
  border-right: 3px solid #000;
}
.box > div.btn-wrapper {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border-top: 1px solid #000;
}
.box > div.btn-wrapper .btn {
  margin: 15px;
}
.basket-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}
.basket-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
  border-top: 5px solid #000;
  margin-top: 5px;
}
.basket-item:not(:last-child) {
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  margin-bottom: 5px;
}
.store {
  border-right: 3px solid #000;
}
.store-list {
  margin: 15px 0;
}
.store-item {
  margin-bottom: 10px;
}
.store-item:not(:last-child) {
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.store-item.disabled .store-item_img,
.store-item.disabled .store-item_info {
  opacity: 0.3;
  pointer-events: none;
}
.store-item_img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}
.store-item_info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  padding-left: 20px;
}
.store-item_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.store-item_box .btn-wrapper {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
}
ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
.not-found h1 {
  text-align: center;
}
